body {
    background-color: #7AF;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1 {
    color: #003;
    text-shadow: 3px 5px 2px #77a;
}

p {
    color: #003;
}

.link {
    text-align: left;
    margin-left: 4em;
    font-size: 1.5em;
}

div.link {
    margin-top: 3em;
}