body {
    background-color: #7AF;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1 {
    color: #003;
    text-shadow: 3px 5px 2px #77A;
}

p {
    color: #003;
}

#link-outer {
    text-align: center;
}

div.link {
    margin-top: 2em;
    border-radius: 2em;
    background-color: #225;
    display: inline-block;
    padding: 1em;
    min-width: 3.6em;
    min-height: 1.2em;
}

a.link {
    border-radius: 2em;
    background-color: #CCF;
    vertical-align: bottom;
    padding: 0.5em;
}

a.link2 {
    border-radius: 2em;
    background-color: #CCF;
    vertical-align: bottom;
    padding: 0.5em;
    margin-left: 0.5em;
}